<div class="container">
  <h2>Hi Admin!</h2>
  <hr>
  <div class="container">
    <label for="Title"> <h3>Hall Manager</h3></label>
    <div id="accordion">
      <div class="card my-2" *ngFor="let hall of halls; let i = index">
        <div class="card-header" [id]="'heading'+i">
          <h5 class="mb-0">
            <button class = "btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'collapse'+i" [attr.data-parent]="'#collapse' + i">
              Manage Hall {{hall}}
            </button>
          </h5>
        </div>

        <div [id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
          <div class="card-body">
            <app-admin-hallmgmt [hall_no]="hall" ></app-admin-hallmgmt>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

