<div class="container">
  <h1>{{user['n']}}</h1>
  <hr>
  <div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="link" width="35%" (error)="handle($event)" alt="Profile Picture">
      <div class="card-body">
        <h5 class="card-title">Student Profile</h5>
        <div class="card-text">
          <div class="container">
            <div class="row">
              <div class="col-6">
                Roll: {{user['i']}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                Gender: {{user['g']}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                Hall: {{user['h']}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
