<div class="container">
  <h2>Login</h2>
  <hr>
  <div class="container">
    <form [formGroup]="loginForm">
      <label for = "username"> Username: </label>
      <div class="row">
        <div class="col-10">
          <input type = "text" formControlName = "username" class = "form-control">
        </div>
      </div>
      <label for = "password"> Password: </label>
      <div class="row">
        <div class="col-10">
          <input type = "password" formControlName = "password" class = "form-control">
        </div>
      </div>
      <label for = "button"></label>
      <div class="row">
        <div class="col-10">
          <button class="btn btn-success" (click)="login()">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
